.wid{
    width: 11%;
}

.displayFlex{
    display: flex
}

.iconPosition{
    margin-left: 8px;
    margin-top: 2px;
}
.textWidth{
    width : 80%
}

.ml5{
    margin-left:5px;
}
.btnPosition{
    height: 49px;
    margin-top: 10px;
}